:root {
	--color-white: #ffffff;
	--color-blue: #404bbf;
	--color-background-grey: #2e2f42;
	--color-main-text: #434455;
	--color-button: #4d5ae5;
	--color-button-portfolio: #f4f4fd;
	--color-border: #e7e9fc;
}
body {
	font-family: Roboto, sans-serif;
	color: var(--color-main-text);
	background-color: var(--color-white);
}

.header-block {
	background-color: var(--color-white);
}
.logo {
	font-family: "Raleway";
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	text-transform: uppercase;
	color: var(--color-button);
	text-decoration: none;
}
.logo-item {
	color: var(--color-main-text);
}
.menu-item {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--color-background-grey);
	text-decoration: none;
}
.menu-item:hover,
.menu-item:focus {
	color: var(--color-blue);
}
.list-block {
	list-style-type: none;
}
.address-item {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--color-main-text);
	text-decoration: none;
	font-style: normal;
}
.address-item:hover,
.address-item:focus {
	color: var(--color-blue);
}
.first-section {
	background: var(--color-background-grey);
	text-align: center;
}
.main-title {
	font-size: 56px;
	line-height: 1.07;
	color: var(--color-white);
	text-align: center;
}
.main-button {
	background-color: var(--color-button);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: var(--color-white);
	cursor: pointer;
	text-align: center;
	font-family: Roboto, sans-serif;
}
.main-button:hover,
.main-button:focus {
	background-color: var(--color-blue);
}
.second-section,
.work-section {
	background-color: var(--color-white);
}

.title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--color-background-grey);
	text-align: left;
}
.text {
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
	text-decoration: none;
	font-style: normal;
	color: var(--color-main-text);
}
.work-team {
	background-color: var(--color-button-portfolio);
}
.work-team-title {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	text-transform: capitalize;
	color: var(--color-background-grey);
}
.footer-block {
	background-color: var(--color-background-grey);
}
.logo-footer {
	color: var(--color-button-portfolio);
}
.footer-text {
	font-size: 16px;
	line-height: 1.5;
	color: var(--color-border);
}
.buttons,
.gallery {
	background-color: var(--color-white);
}
.button-item {
	background: var(--color-button-portfolio);
	border: 1px solid var(--color-border);
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.04em;
	color: var(--color-button);
	cursor: pointer;
	font-family: Roboto, sans-serif;
}
.button-item:hover,
.button-item:focus {
	background-color: var(--color-blue);
	color: var(--color-white);
}
.list-item {
	text-decoration: none;
}
